.game-body {
  background-image: -webkit-linear-gradient(270deg, rgba(20, 24, 12, .75), rgba(20, 24, 12, .75)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(20, 24, 12, .75), rgba(20, 24, 12, .75)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  font-family: 'Open Sans', sans-serif;
  color: #e2e2e2;
  font-size: 14px;
  line-height: 20px;
}

.main {
  display: flex;
  min-height: 300px;
  min-width: 250px;
  margin-top: 14px;
  margin-bottom: 15px;
  flex-direction: column;
  flex: 1;
  background-image: linear-gradient(180deg, rgba(41, 51, 42, .96), rgba(41, 51, 42, .96));
  color: #e2e2e2;
}

.game-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-width: 90%;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.game-container.menu {
  background-image: -webkit-linear-gradient(270deg, #9e1010, #9e1010);
  background-image: linear-gradient(180deg, #9e1010, #9e1010);
  position: relative;
  top: 0px;
}

.raise {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 27%;
  margin-right: 20px;
  margin-bottom: 3px;
  margin-left: 20px;
  padding: 15px 30px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: -webkit-linear-gradient(270deg, rgba(63, 71, 47, .5), rgba(63, 71, 47, .5));
  background-image: linear-gradient(180deg, rgba(63, 71, 47, .5), rgba(63, 71, 47, .5));
  box-shadow: inset 0 0 5px -2px #000;
}

.raise.player {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cards {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 55%;
  min-width: 376px;
  padding-top: 15px;
  padding-bottom: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-top-width: 1px;
  border-top-color: #000;
  border-radius: 16px;
  background-image: -webkit-linear-gradient(270deg, rgba(91, 143, 89, .5), rgba(91, 143, 89, .5));
  background-image: linear-gradient(180deg, rgba(91, 143, 89, .5), rgba(91, 143, 89, .5));
  box-shadow: 1px 1px 3px 0 #000;
}

.card {
  overflow: hidden;
  width: 90px;
  height: 133px;
  margin-right: 12px;
  border-radius: 9px;
}

.deck {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6px;
  padding-right: 46px;
  padding-bottom: 9px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .5), inset 0 0 2px 0 #000;
}

.spacer {
  min-height: 43px;
  min-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

._55 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-bottom: -25px;
  border-radius: 7px;
  box-shadow: 0 -3px 19px 0 #000;
}

.pp {
  position: relative;
  z-index: 4;
  margin-top: 12px;
  margin-bottom: -1px;
  margin-left: 10px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #e2e2e2;
  font-weight: 400;
  text-shadow: 0 3px 0 #000;
}

.pp0 {
  position: relative;
  z-index: 1;
  margin-right: 49px;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  font-size: 43px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  text-shadow: 1px 1px 6px #000, 0 20px 11px #000;
}

.life {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline;
  margin-right: auto;
  margin-left: 12px;
  float: none;
  box-shadow: inset 0 -50px 2px 2px #000;
}
