.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5 {
  width: 100%;
}

section.menu {
    display: flex;
}

button.menu {
    flex: 1 1 30%;
    justify-content: center;
    margin-left: 1px;
    margin-right: 1px;
}

@media (min-width: 600px) {
  .c3, .c4, .c5 {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .c1 {
    width: 100%;
  }
  .c2 {
    width: 100%;
  }
  .c3, .c4, .c5 {
    width: 33.33%;
  }
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}

